/bin/
.gradle
.settings
/build/
/out/
.project
.classpath
.idea
src/test/resources/user.properties
setenv.bat
src/test/resources/scaffold-test/
.DS_Store
src/test/resources/entity-services-project/src/main/ml-modules
src/test/resources/entity-services-project/src/main/ml-schemas
src/test/resources/entity-services-project/src/main/ml-config/databases/content-database-GENERATED.json

