/bin
.classpath
build
.gradle
gradle-local.properties
/.nb-gradle
/.settings
/.project
ml-gradle-all/build/
ml-gradle-all/.gradle/
ml-gradle-all/.classpath
ml-gradle-all/.project
ml-gradle-all/.settings/
sample-project/data/export/
sample-project/local.gradle
examples/sample-project/local.gradle
examples/mlcp-project/data/export/
.idea
*.iml
out
gradle-local.properties
snyk
