/bin
.classpath
build
.gradle
gradle-local.properties
/.nb-gradle
/.settings
/.project
sample-project/data/export/
sample-project/local.gradle
examples/sample-project/local.gradle
examples/mlcp-project/data/export/
.idea
*.iml
out
gradle-local.properties
snyk
.vscode
docker
